@model List<ApplicationPrototype.Models.Audit>
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">List of Reports</h2>
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nro.
                </th>
                <th>
                    Title
                </th>
                <th style="text-align:center">
                    Issues
                </th>
                <th style="text-align:center">
                    Mapping in Word Document
                </th>
                <th>
                    Update Document
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AuditId</td>
                        <td>@item.Title</td>
                        <td style="text-align:center">@item.Issues.Count</td>
                        <td style="text-align:center"><a href="/Home/EditDocumentInGoogleDocs/@item.AuditId" class="btn btn-sm btn-primary">Mapping Data</a></td>
                        <td style="text-align:center"><a href="/Home/UpdateFileData/@item.AuditId" class="btn btn-sm btn-success">Update</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No existen Auditorias..!!!</td>
                </tr>
            }
        </tbody>
    </table>
</div>