@model List<ApplicationPrototype.Models.Audit>
@{
    ViewBag.Title = "Index";
}

<h2>Audi Reports Prototype</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo de la Auditoria
            </th>
            <th>
                Subir a Google Drive
            </th>
            <th>
                Editar en Google Doc
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><button class="btn btn-sm btn-success">Subir</button></td>
                    <td><button class="btn btn-sm btn-primary">Editar</button></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No existen Auditorias..!!!</td>
            </tr>
        }
    </tbody>
</table>